@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  background: #04070a;
  color: white;
  overflow-x: hidden !important;
}

.layoutPageFrame {
	transition: filter 0.3s ease-in-out;
}
body.overflow-hidden .layoutPageFrame {
	filter: grayscale(80%);
}

.z-2 {
	z-index: 2;
}
